attrs==23.2.0
binaryornot==0.4.4
boxsdk==3.9.2
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
configparser==7.0.0
cryptography==42.0.4
DateTime==5.5
detect-secrets @ git+https://github.com/ibm/detect-secrets.git@f9394932e9836bd0161999ad9cd426f262a75b0d
dill==0.3.8
distlib==0.3.7
Django==5.0.3
filelock==3.13.1
httplib2==0.22.0
ibmBluegroup==1.5
ibmBluepages==1.17
identify==2.5.32
idna==3.4
isort==5.13.2
ldap3==2.9.1
mccabe==0.7.0
nodeenv==1.8.0
packaging==23.2
platformdirs==4.0.0
pre-commit==3.5.0
pyasn1==0.6.0
pycparser==2.21
PyJWT==2.8.0
pylint==3.1.0
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
PyYAML @ file:///private/tmp/pyyaml-20231006-6075-1uawavd/PyYAML-6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
sqlparse==0.5.0
tabulate==0.9.0
tomlkit==0.12.4
urllib3==1.26.18
virtualenv==20.24.7
zope.interface==6.3
